@model iBarber.Modelos.Barbearia

<form asp-controller="Barbearia" asp-action="AdicionarConfirmacao" method="post">

   
    <div class="mb-3">
        <label for="CNPJ" class="form-label">CNPJ:</label>
        <input asp-for="CNPJ" type="text" class="form-control" placeholder="Digite o CNPJ" />
    </div>
    <div class="mb-3">
        <label for="Nome" class="form-label">Nome:</label>
        <input asp-for="Nome" type="text" class="form-control" placeholder="Digite o nome da Barbearia" />
    </div>
    <div class="mb-3">
        <label for="Telefone" class="form-label">Telefone:</label>
        <input asp-for="Telefone" type="text" class="form-control" placeholder="Digite o telefone da sua barbearia" />
    </div>
    <div class="mb-3">
        <label for="Logradouro" class="form-label">Logradouro:</label>
        <input asp-for="Logradouro" type="text" class="form-control" placeholder="Digite o local da Barbearia" />
    </div>
    <div class="mb-3">
        <label for="Numero" class="form-label">Numero:</label>
        <input asp-for="Numero" type="text" class="form-control" placeholder="Digite o numero da sua Barbearia" />
    </div>
    <div class="mb-3">
        <label for="CEP" class="form-label">CEP:</label>
        <input asp-for="CEP" type="text" class="form-control" placeholder="Digite o CEP" />
    </div>
    <div class="mb-3">
        <label for="Bairro" class="form-label">Bairro:</label>
        <input asp-for="Bairro" type="text" class="form-control" placeholder="Digite o bairro" />
    </div>
    <div class="mb-3">
        <label for="Cidade" class="form-label">Cidade:</label>
        @Html.DropDownListFor(
                item => item.CidadeID,
                new SelectList(ViewBag.Cidade, "CidadeID", "Nome"),
                "-- Selecione --",
                new { @class = "form-control" }
            )
    </div>
    </div>
    <hr />

    <a href="#" class="btn btn-secondary" onclick="javascript:history.back()">
        VOLTAR
    </a>

    <button type="submit" class="btn btn-success float-right">
        SALVAR
    </button>

</form>