<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="iBarber-Login.css" rel="stylesheet">
    <title>iBarber - Login</title>

    


</head>
<body id="TelaLogin">
    <!--NavBar-->
    <nav class="position-fixed navbar col-12 navbar navbar-light" style="z-index: -1; background-color: #343434;" >
        <!--Logo+Nome-->
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: #d9d9d9; font-size: 30px;">
            <img src="/iBarberFotos/iBarberLogotipo3.0Miniatura.png" alt="" width="200" height="75" class="d-inline-block align-text-top">
            iBarber - O site da sua Barbearia
          </a>
          <!--Botões da navbar-->
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-dark me-md-2" type="button" style="background-color: #d9d9d9; color: #000000; border-color: #ff7b03; width: 150px;">Barbearia</button>
            <button class="btn btn-dark" type="button" style="background-color: #985920; border-color: #ff7b03; width: 200px;">Cadastre-se</button>
          </div>
        </div>
      </nav>
      <!-- Login -->
      <div  id="TituloLogin">
        <h1>Login</h1>
        <h5>Faça seu Login ou <a>Cadastre-se</a></h5>
      </div>
      
      <div class="card" id="CardLogin">
        <div class="card-body">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Email</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insira seu Email" style="border-color: #d9d9d9; color: #000000;">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Senha</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Insira sua senha" style="border-color: #d9d9d9; color: #000000">
              </div>
              <div class="mb-3">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">Lembrar-me</label>
                
              </div>
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-dark" style="color: #ff7b03; border-color: #d9d9d9;">Entrar</a>
            </div>

          
        </div>
      </div>
      

      
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>