@model iBarber.Modelos.Barbearia

<h1>
    @Model.CNPJ
</h1>

<h4>
    @Model.Nome
</h4>


<input type="text" value="@Model.CNPJ" class="form-control" />
<br />
<input type="text" value="@Model.Nome" />

<br />
<br />
<button class="btn btn-block btn-success">
    SUCESSO!
</button>