.navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 {
    background-color: #343434;
}

#offcanvasNavbar{
    background-color: #343434;
}

#offcanvasNavbarLabel{
    color: #d9d9d9;
}

#carouselExampleIndicators{
    margin-top: 5%;
    
}

#PreviousBotton{
    color: #ff7b03;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff7b03' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff7b03' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#CardBarbearia{
    border-color: #ff7b03;
    background-color: #d9d9d9;
}

#ButtonNavBarParceiro{
    color: #ff7b03;
    border-color: #d9d9d9;
}

#ButtonNavBarLogin{
    color: #d9d9d9;
    border-color: #ff7b03;
    margin-left: -25%;
    transform: translate(-50%);
    position: relative;
}

#LogoiBarberNavBar{
    margin-left: 20%;
    transform: translate(-50%);
    position: relative;
}

#iBarberFooter{
    color: #ff7b03;
}


