@model iBarber.Modelos.Agendamento
   
<body style="background-color: #343434; color: #d9d9d9;">
    <form asp-controller="Agendamento" asp-action="AdicionarConfirmacao" method="post" style="background-color: #343434; color: #d9d9d9; margin-top: 65px;">


        <div class="col-md-4">
            <label for="DataHoraInicio" class="form-label">CNPJ:</label>
            <input asp-for="DataHoraInicio" type="datetime" class="form-control" placeholder="Coloque a data e o horario que deseja" style="background-color: transparent; color: #d9d9d9;" />
        </div>
        <div class="col-md-4">
            <label for="DataHoraFinal" class="form-label">Nome:</label>
            <input asp-for="DataHoraFinal" type="datetime" class="form-control" placeholder="Coloque a data e o horario final" style="background-color: transparent; color: #d9d9d9;" />
        </div>
        <div class="col-md-4">
            <label for="Cliente" class="form-label">Cliente:</label>
            @Html.DropDownListFor(
                    item => item.ClienteID,
                    new SelectList(ViewBag.Cliente, "ClienteID", "Nome"),
                    "-- Selecione --",
                    new { @class = "form-control" }
                )
        <div class="col-md-4">
            <label for="Barbearia" class="form-label">Barbearia:</label>
            @Html.DropDownListFor(
                    item => item.BarbeariaID,
                    new SelectList(ViewBag.Barbearia, "BarbeariaID", "Nome"),
                    "-- Selecione --",
                    new { @class = "form-control" }
                )
        <div class="col-md-4">
            <label for="Barbeiro" class="form-label">Barbeiro:</label>
            @Html.DropDownListFor(
                    item => item.BarbeiroID,
                    new SelectList(ViewBag.Barbeiro, "BarbeiroID", "Nome"),
                    "-- Selecione --",
                    new { @class = "form-control" }
                )
            
        </div>
        <hr />

        <a href="#" class="btn btn-secondary" onclick="javascript:history.back()">
            VOLTAR
        </a>

        <button type="submit" class="btn btn-success float-right">
            SALVAR
        </button>

    </form>
</body>
