@{
    ViewData["Title"] = "Home Page";
}

<h1>
    @ViewBag.Disciplina iBarber @ViewBag.Nome
</h1>

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Dê uma olhada no meu <a href="https://github.com/JeeFzPiires">Meu GitHub</a>.</p>
</div>
